canvas {
  display: block;
  vertical-align: bottom;
  overflow: hidden;
}

#app,
body {
  position: relative;
}

.redShadow {
  text-shadow: -3px 0 red;
}
.greenShadow {
  text-shadow: -3px 0 red;
}
